/**
 * PIANORAMA
 * App.css
 */

/* --- VARIABLES --- */
:root {
    --pianorama-app-width: 100%;                                           /* Ideally up to 1024px */
    --pianorama-app-height: 100%;                                          /* Ideally up to 640px */

    --pianorama-header-height: 40px;
    --pianorama-header-background-color: #222222;

    --pianorama-description-height: 20px;
    --pianorama-description-background-color: #000000;
    --pianorama-description-text-color: #CCCCCC;

    --pianorama-sore-height: calc(100% - var(--pianorama-header-height) - var(--pianorama-description-height));

    --pianorama-menu-item-height: 24px;
    --pianorama-menu-item-border: 2px solid var(--pianorama-main-color);
    --pianorama-menu-font-size: 1.125rem;

    /* COLORS */
    --pianorama-app-color: #0099FF;
    --pianorama-app-background-color: #000000;
    --pianorama-app-notation-color: #FFFFFF;

    /* BUTTONS */
    --pianorama-btn-color-on: #FFFFFF;
    --pianorama-btn-color-off: #999999;

    --pianorama-transition-fast: all 0.2s;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--bg-color);
}

/* --- CONTAINER --- */
.pianorama__app {
    width: 100%;
    height: 100%;
    max-height: 768px;
    font-family: "Roboto", sans-serif;
    background: var(--pianorama-app-background-color);
}

/* --- HEADER / MENU --- */
.pianorama__header {
    position: relative;
    width: 100%;
    height: var(--pianorama-header-height);
    padding: 0 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--pianorama-app-color);
    background: var(--pianorama-header-background-color);
    text-transform: uppercase;
}

.pianorama__logotype {
    height: 24px;
    padding: 0 7px;
    border-radius: 12px;
    border: 2px solid var(--pianorama-app-color);
/*    background: red;*/
    display: flex;
    align-items: center;
    font-size: 0.9rem;
    font-weight: bold;
    color: var(--pianorama-app-color);
    margin: 0;
}

.pianorama__view-options {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 25px;
}

.pianorama__select,
.pianorama__btn {
    height: var(--pianorama-menu-item-height);
    border: 0;
    background: transparent;
    font-size: var(--pianorama-menu-font-size);
    font-weight: bold;
    cursor: pointer;
    
}

.pianorama__select {
/*    margin-right: 10px;*/
    padding: 0 5px;
    color: var(--pianorama-btn-color-on);
    background: rgba(255, 255, 255, 0.2);
}

.pianorama__select--label {
    color: #CCCCCC;
}

.pianorama__btn {
    padding: 0;
    transition: var(--pianorama-transition-fast);
    color: var(--pianorama-btn-color-off);
/*    border: 1px solid red;*/
    margin-right: 10px;
}

.pianorama__btn:hover {
    color: var(--pianorama-btn-color-on);
}

.pianorama__btn.is-selected {
    color: var(--pianorama-btn-color-on);
    text-shadow: 0 0 10px var(--pianorama-btn-color-on);
}



/* --- CONTAINER --- */
.pianorama__score {
/*    height: calc(100% - var(--pianorama-header-height) - var(--pianorama-description-height));*/
    height: var();
/*    overflow: hidden;*/
}

.pianorama__app--canvas {
    display: block;
    width: 100%;
    padding: 0 20px;
    overflow-x: auto;
    background: transparent;
}

.pianorama__app--main,
.pianorama__app--secondary {
    position: relative;
    width: 100%;
    height: 50%;
    cursor: pointer;
    overflow: hidden;
    background: var(--pianorama-app-background-color);
    pointer-events: none;
}

.pianorama__app--main.is-ready,
.pianorama__app--secondary.is-ready {
    opacity: 1;
    pointer-events: auto;
}

.pianorama__app--main,
.pianorama__app--secondary {
    --pianorama-notation-color: var(--pianorama-app-notation-color);
}

.pianorama__app--main:hover {
    --pianorama-notation-color: var(--pianorama-app-notation-color);
}

.pianorama__app--description {
    height: var(--pianorama-description-height);
    font-size: 1rem;
    font-weight: bold;
    color: var(--pianorama-description-text-color);
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--pianorama-description-background-color);
}

/* --- PIANO --- */
.pianorama__app--piano {
    width: 100%;
    height: ;
}



.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    clip-path: inset(50%);
    white-space: nowrap;
    border: 0;
}