/**
 * PIANORAMA
 * Cards.css
 */

.pianorama__card {
    position: relative;
    width: var(--pianorama-card-width);
    cursor: pointer;
    overflow: hidden;
    background: var(--pianorama-background-color);
    pointer-events: none;
    padding: var(--pianorama-card-padding);
}

.pianorama__card.is-ready {
    opacity: 1;
    pointer-events: auto;
}

.pianorama__card:hover {
    background: var(--pianorama-background-hover);
}

.pianorama__card--info {
    margin-top: 10px;
    font-size: 0.9em;
    color: var(--pianorama-info-color);
    display: flex;
    justify-content: space-between;
    padding: 0 var(--piano-card-padding);
}